/* Styles pour la modale */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Fond opaque noir avec transparence */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Toujours au-dessus des autres éléments */
  }
  
  /* Contenu de la modale */
  .modal-content {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 90%;
    max-width: 400px; /* Largeur max */
    position: relative;
  }

  .modal-content > h2 {
    margin-top : 25px;
    margin-bottom: 25px;;
  }

  .close-btn {
    position: absolute;
    right: 10px;
  }
  
  /* Bouton de fermeture */
  .modal-close {
    position: absolute;
    top: 10px;
    right: 100px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Effet d'animation */
  @keyframes modalFadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .modal-content {
    animation: modalFadeIn 0.3s ease-out;
  }
  
  